h1 {
  text-align: center;
  font-size: 40px;
}
#Main {
  margin-left: 360px;
  width: 850px;
  height: 600px;
  background-color: #3399ff;
}

#icon {
  position: absolute;
  margin-top: 220px;
  margin-left: 180px;
}

#quotes {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 10px;
  width: 500px;
  height: 250px;
  position: absolute;
  margin-left: 120px;
  margin-top: 100px;
  background-color: white;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#authors {
  position: absolute;
  margin-top: 320px;
  margin-left: 510px;
  font-size: 1rem;
}

#newQ {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 462px;
  margin-left: 120px;
  font-size: 1rem;
  width: 610px;
  border: none;
  transition-duration: 0.4s;
  background-color: green;
  cursor: pointer;

  color: white;
}

#newQ:hover {
  background-color: #3399ff;
}
